.inputwrapper {
    display: inline-block;
    background: linear-gradient(to top, hsla(310, 70%, 70%, .5) 0, hsla(31, 50%, 0%, 1) 20%, hsla(310, 50%, 0%, 1) 60%, hsla(310, 20%, 40%, .5) 100%);
    box-shadow: 0 0 6px hsla(310, 80%, 80%, 1);
    text-shadow: 0 0 7px hsla(310, 80%, 80%, 1);
    border-radius: 4px;
    height: 43px;
    margin-top: 10px;
    position: relative;
    max-width: 100%;
}

.inputwrapper img {
    position: absolute;
    left: 0;
    top: 5px;
    cursor: pointer;
}

.inputwrapper .colorwrapper {
    display: block;
}

.inputwrapper .colorchosen {
    display: inline-block;
    border-radius: 10px;
    margin-right: 5px;
}

#colors span {
    border-radius: 10px;
}

.inputwrapper input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 250px;
    color: rgba(255, 204, 214, 0.9);
    text-shadow: rgb(245, 163, 180) 0px 0px 7px;
}

.inputwrapper input[type="text"]:hover {
    border-color: #333;
}

#play #game_modes {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

#player button,
#respawn_actions button,
.donate-btn {
    background: radial-gradient(ellipse at center, hsla(310deg, 50%, 0%, 1) 0, hsl(310deg 100% 70% / 50%) 150%);
    box-shadow: 0 0 6px hsl(310deg 100% 80% / 1);
    text-shadow: 0 0 7px hsla(310deg 100% 80% / 1);
    color: hsl(310deg 100% 90% / 80%);
    border-radius: 15px;
}

.playbtn i {
    color: hsl(310deg 60% 80% / 50%);
    text-shadow: 0 0 7px hsl(310deg 100% 80%);
}

.playbtn i:hover {
    text-shadow: 0 0 27px hsl(310deg 100% 80%);
}

.changelog-new,
.extrabutton {
    background: linear-gradient(-45deg, hsl(310deg 50% 10% / 50%) 0, hsl(310deg 50% 50% / 15%) 100%);
    border-radius: 15px;
    box-shadow: 0 0 6px hsl(310deg 100% 80%);
}

.changelog-new h2 {
    border-bottom: solid 5px hsl(310deg 60% 60% / 20%);
}

#overlay {
    box-shadow: 0 0 6px hsla(310, 80%, 80%, 1);
    text-shadow: 0 0 2px hsla(310, 80%, 80%, .3);
    color: hsla(310, 90%, 90%, .8);
}

a {
    color: hsl(310, 50%, 80%);
}

a:visited {
    color: hsl(310, 50%, 60%);
}

.community a {
    color: hsla(310, 90%, 90%, .8);
}

.social i,
.mobile-social i,
.mobile-tools i,
.stats i {
    background: radial-gradient(ellipse at center, hsla(310, 50%, 0%, 1) 0, hsla(310, 100%, 70%, .5) 150%);
    box-shadow: 0 0 6px hsla(310, 100%, 80%, 1);
    text-shadow: 0 0 7px hsla(310, 100%, 80%, 1);
    color: hsla(310, 100%, 90%, .8);
    border-radius: 10px;
}

.social i:hover,
.mobile-social i:hover,
.mobile-tools i:hover,
.stats i:hover {
    border: 0 solid hsl(310, 90%, 70%);
    background: radial-gradient(ellipse at center, hsla(310, 50%, 0%, 1) 0, hsla(310, 70%, 70%, .5) 100%);
    box-shadow: 0 0 6px hsla(310, 100%, 80%, 1);
    text-shadow: 0 0 7px hsla(310, 100%, 80%, 1);
    color: hsla(310, 100%, 90%, .8);
}

.sbg-facebook:hover .sbg-diamond,
.sbg-twitter:hover .sbg-diamond {
    color: hsl(310, 90%, 70%);
}

.followtools a.big {
    text-shadow: 0 0 7px hsla(310, 100%, 80%, 1);
}

.followtools a,
.followtools a:visited {
    background: radial-gradient(ellipse at center, hsla(310, 50%, 0%, 1) 0, hsla(310, 100%, 80%, .5) 150%);
    box-shadow: 0 0 6px hsla(310, 100%, 80%, 1);
    color: hsla(310, 100%, 90%, .9);
    border-radius: 15px;
}

.followtools a:hover {
    background: hsla(310, 50%, 50%, .8);
}

.modal {
    width: 900px !important;
    box-shadow: 0 0 6px hsla(310, 100%, 80%, 1);
    text-shadow: 0 0 6px hsla(310, 100%, 60%, .75);
    background: linear-gradient(135deg, hsla(310, 30%, 10%, 1) 0, hsla(310, 30%, 30%, 1) 150%);
}

.modal .modalbody .range {
    width: 16%;
    padding: 0 150px 0 10px;
    background: hsl(310, 60%, 15%);
    border: 1px solid hsl(310, 60%, 10%);
}

.modal .modalbody select,
.modal .modalbody input[type=text],
.modal .modalbody input.number {
    background: hsl(310, 60%, 15%);
    border: 1px solid hsl(310, 60%, 10%);
}

.modal .header {
    background: hsla(310, 70%, 70%, .1);
    border-bottom: 5px solid hsla(310, 50%, 70%, .5);
}

.modal .modecp {
    position: relative;
}

.modal::-webkit-scrollbar-thumb {
    background-color: hsla(310, 50%, 70%, .5);
}

.stats input,
.ecpinput {
    background: linear-gradient(to top, hsla(310, 70%, 70%, .5) 0, hsla(310, 50%, 0%, 1) 20%, hsla(310, 50%, 0%, 1) 60%, hsla(310, 20%, 40%, .5) 100%);
    box-shadow: 0 0 6px hsla(310, 80%, 80%, 1);
    color: hsla(310, 90%, 90%, .8);
    text-shadow: 0 0 7px hsla(310, 80%, 80%, 1);
    border-radius: 10px;
}

#player button:hover,
#respawn_actions button:hover,
.donate-btn:hover,
.ecpbtn:hover {
    background: radial-gradient(ellipse at center, hsla(310, 50%, 0%, 1) 0, hsla(310, 100%, 70%, .5) 100%);
    box-shadow: 0 0 8px hsla(310, 100%, 90%, 1);
}

.frozenbg,
.frozenbg:visited {
    background: radial-gradient(ellipse at center, hsla(310, 50%, 0%, 1) 20%, hsla(310, 50%, 60%, .5) 150%);
    box-shadow: 0 0 6px hsla(310, 100%, 80%, 1);
    text-shadow: 0 0 7px hsla(310, 100%, 80%, 1);
    color: hsla(310, 100%, 90%, .8);
    border-radius: 15px;
}

.modal .modalbody .gmodes span.selected {
    box-shadow: 0 0 6px hsla(310, 100%, 80%, 1);
}

.modal .modalbody .gmodes span {
    border: 2px solid hsl(310, 60%, 10%);
}

#ranks .rankings th.orating {
    border: 1px dashed hsl(310, 50%, 50%);
}

#ranks .rankings td:nth-child(3) {
    border-left: 1px dashed hsl(310, 50%, 50%) !important;
}

#ranks .rankings td:nth-child(5) {
    border-right: 1px dashed hsl(310, 50%, 50%);
}

a.full-changelog,
a.full-changelog:visited {
    border-top: 1px solid hsla(310, 60%, 60%, .2);
    background: rgba(200, 240, 255, .02);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.slider {
    background-color: hsl(310, 50%, 10%);
    border-radius: 15px;
}

.slider:before {
    transition: .5s;
    background-color: rgb(255, 0, 0);
    border-radius: 15px;
}

input:checked+.slider {
    background-color: hsl(310, 50%, 10%);
}

input:checked+.slider:before {
    background-color: rgb(0, 255, 0);
}

.blue {
    color: hsl(310, 50%, 70%);
}

.followtools a.gold,
.followtools a.gold:visited,
#donate_mobile {
    text-shadow: 0 0 7px hsla(20, 100%, 80%, 1);
    background: radial-gradient(ellipse at center, hsla(20, 50%, 0%, 1) 0, hsla(20, 100%, 80%, .5) 150%);
    box-shadow: 0 0 6px hsla(20, 100%, 80%, 1);
    color: hsla(20, 100%, 90%, .9);
}

.stats {
    border-radius: 10px;
    border: 2px solid hsl(310, 50%, 70%);
    box-shadow: 0 0 15px hsl(310, 50%, 70%);
    background: hsla(310, 50%, 10%, .5);
}

.statinfo {
    border-bottom: 1px solid hsl(310, 50%, 55%);
}

#goinfo {
    color: hsl(310, 50%, 70%);
}

.gameloaderwrapper {
    border-radius: 10px;
    border: 2px solid hsla(310, 100%, 70%, .8);
    box-shadow: 0 0 10px hsla(310, 100%, 80%, 1);
}

.loaderprogress {
    border-radius: 10px;
    background: hsl(310, 90%, 70%);
    background: linear-gradient(to right, hsla(310, 30%, 30%, .7) 0, hsla(310, 90%, 80%, .8) 100%);
}

.textprogress {
    text-shadow: 0 0 10px hsla(310, 100%, 80%, 1);
    color: hsla(310, 100%, 90%, .9);
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    background: transparent;
    outline: none;
    margin: 10px 0;
}

input[type=range]::-webkit-slider-thumb {
    border: none;
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ff69b4;
    /* розовый цвет */
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    box-shadow: 0 0 6px hsl(310, 50%, 70%);
}

input[type=range]::-webkit-slider-thumb:hover {
    background: #ff3385;
    /* измененный цвет при наведении */
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: #d3d3d3 !important;
    border: none;
    border-radius: 5px;
}

input[type=range]:focus {
    outline: none;
}


/* Добавление стилей для Firefox */

input[type=range]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
    background: #ff69b4;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    box-shadow: 0 0 6px hsl(310, 50%, 70%);
}

input[type=range]::-moz-range-thumb:hover {
    background: #ff3385;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: #d3d3d3;
    border-radius: 5px;
    border: none;
}

.modal .modalbody select,
.modal .modalbody input[type=text],
.modal .modalbody input.number {
    width: 291px;
}

.title {
    overflow: hidden;
    white-space: nowrap;
}

.title .author {
    display: block;
    white-space: normal;
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    background: transparent;
    outline: none;
    margin: 10px 0;
}

input[type=range]::-webkit-slider-thumb {
    border: none;
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ff69b4;
    /* розовый цвет */
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    box-shadow: 0 0 6px hsl(310, 50%, 70%);
}

input[type=range]::-webkit-slider-thumb:hover {
    background: #ff3385;
    /* измененный цвет при наведении */
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: #d3d3d3 !important;
    border: none;
    border-radius: 5px;
}

input[type=range]:focus {
    outline: none;
}


/* Добавление стилей для Firefox */

input[type=range]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
    background: #ff69b4;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    box-shadow: 0 0 6px hsl(310, 50%, 70%);
}

input[type=range]::-moz-range-thumb:hover {
    background: #ff3385;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: #d3d3d3;
    border-radius: 5px;
    border: none;
}

.modal .modalbody select,
.modal .modalbody input[type=text],
.modal .modalbody input.number {
    width: 291px;
}

.title {
    overflow: hidden;
    white-space: nowrap;
}

.title .author {
    display: block;
    white-space: normal;
}

.social {
    z-index: 1;
}

#content {
    z-index: 1;
    position: relative;
}

.modal .modalbody hr {
    border-color: pink;
}

nav.menu {
    color: pink;
}

nav.menu ul li {
    text-shadow: 0 0 6px hsla(310, 100%, 60%, .75);
}

nav.menu ul li.selected {
    text-shadow: 0 0 10px hsla(310, 100%, 60%, .75);
}

nav.menu ul li:before,
nav.menu ul li:after {
    content: "\2023";
    text-shadow: 0 0 3vh hsl(310, 100%, 80%);
    color: hsl(310, 95%, 85%);
}

nav.menu ul li:after {
    transform: rotate(180deg);
}

.gamemodes {
    background: linear-gradient(135deg, hsla(310, 30%, 0%, .3) 0, hsla(310, 30%, 20%, .6) 150%);
    box-shadow: 0 0 1px hsla(310, 100%, 80%, 1);
    color: pink;
}

.gamemodes .mode {
    border: 5px solid hsla(310, 30%, 70%, .1);
}

.gamemodes .mode.selected {
    background: hsla(310, 30%, 50%, .4);
    box-shadow: 0 0 7px 3px hsl(310, 30%, 90%);
}

.player-app {
    color: hsla(310, 90%, 90%, .8);
    border-bottom: 1px dashed hsl(310, 50%, 40%);
}

.flexs-between {
    display: flex;
    justify-content: space-between;
}

#background {
	position: fixed; 
	z-index: -1;
	height: 100%; 
	width: 100%; 
}

#background > img {
	height: 100%; width: 100%;
}

#background > img[src=""] {
	display: none;
}

#custommenu {
	display: flex;
    flex-wrap: wrap;
    align-content: center;
	justify-content: center;
	height: 100%;
	width: 20%;
	max-width: 0;
	border-radius: 0 5px 5px 0;
	position: absolute;
	z-index: 5;
	background: inherit;
	overflow: hidden;
	background: rgba(255, 192, 203, 0.2);
    box-shadow: 0 8px 32px 0 rgba(255, 192, 203, 0.35);
	backdrop-filter: blur( 12px );
	-webkit-backdrop-filter: blur( 12px );
	transition: max-width 0.5s ease; 
}

#custommenu.show {
	max-width: 20%; 
}

#custommenu > #training {
	display: block !important; 
}

#rankings > span {
    display: inline-block;
    text-transform: lowercase;
}

#rankings > span::first-letter {
    text-transform: uppercase;
}

